<!DOCTYPE html>
<html>
  <head>
    <title>JG Empregos</title>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
      #banner{
        width: 100%;
        height: 360px;
        object-fit:cover;
      }
    </style>
  </head>
   <body>
     {% include 'nav.html' %}
      <div id="container">
      <h1 class="text-center mt-2 mt-4">{{company_name}} Empregos</h1>
    <img class="img-fluid" id="banner" src="https://justino-gemo-website-1.jgemo.repl.co/static/banner.jpeg" height="320">
    <h2 class="text-center mt-2 mt-4">Acerca do JG Empregos</h2>
    <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <h2 class="text-center mt-2 mt-4">Job Openings</h2>
    <div>
      {% for job in jobs %}
        {% include 'jobitem.html' %}
      {% endfor %}
    </div>
        <div class="text-center mt-4">
          <button class="btn btn-primary btn-lg">Contact Us</button>
          <p class="mt-4">Copyright JG 2023</p>
        </div>
    </div>
  </body>
</html>